            <ul class="list-unstyled">
              <li>
                <a href="https://waiman-app.github.com/"><!-- please remain as friend link-->
                  Waiman's Blog
                </a>
              </li>
              <li>
                <a href="https://waiman-app.github.com/" target="_blank">
                  Waiman's Blog
                </a>
              </li>	
              <li>
                <a href="/links.html">
                  Other
                </a>
              </li>				  
            </ul>
